asyncio>=3.4.3
ccxt>=1.18.375
dnspython>=1.16.0
firebase-admin>=2.16.0
numpy>=1.16.2
pandas>=0.24.2
pyarmor>=5.3.6
pyOpenSSL>=19.0.0
pyparsing>=2.1.10
python-dateutil>=2.6.0
pytz>=2016.10
regex>=2019.4.10
requests>=2.22.0
SQLAlchemy>=1.3.3
tzlocal>=1.5.1
urllib3==1.26.5
psycopg2-binary>=2.8.2
